
.root {
    font-size: 16px;
}

.main-container {
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-section {
    padding: 1rem;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-rows: repeat(auto-fill, 300px); */
    gap: 3rem;
}

.chapter-card {
    border-radius: 10px;
    min-height: 250px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.5s ease-in-out, color 0.5s ease-in-out;
    /* transition: color 0.5s; */
}

.chapter-card:hover {
    scale: 1.05;
    color: white;
    cursor:pointer;
}