body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  padding: 20px;
  text-align: center;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100vw;
}

.chart {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  overflow: hidden;
}

.testResult {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.passed {
  color: #4caf50;
}

.failed {
  color: #f44336;
}
