body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  #timer-section {
    text-align: center;
  }
  
  #timer {
    font-size: 24px;
    color: #e74c3c; /* Red color for the timer */
  }
  
  #submit-button {
    background-color: #2ecc71; /* Green color for the submit button */
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-button:hover {
    background-color: #27ae60;
  }

  .fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in-out.show {
    opacity: 1;
  }
  